
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

md-toolbar {
    padding: 8px;
}

    md-toolbar > div > a {
        padding: 0px !important;
    }

md-sidenav > md-content > div > .md-button {
    height: 50px;
}

.md-toast-content {
    background-color:#4a7a5a!important;
}

.messageDiag{
    width:600px;
}

.addMemberDiag{
    width:600px;
}

.addChurchDiag{
    width:600px;
}
/*.md-on{
    background-color:#4a7a5a!important;
}*/

    /*md-radio-button.md-checked ._md-off{
      border-color: green;
    }
    md-radio-button.md-checked ._md-on{
      background-color: red;
    }*/

md-radio-button.md-default-theme .md-off, md-radio-button .md-on {
    border-color: rgba(0,0,0,0.54)!important;
    background-color:rgba(0,0,0,0.54)!important;
}

md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: rgba(0,0,0,0.54)!important;
}

.md-datepicker-button {
  display: none;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon > label:not(.md-no-float):not(.md-container-ignore) {
    right: 0px;
    left: 0px;
    width: calc(100% - 0px);
}

.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    background-color:#4a7a5a!important;
    /*line-height:3px;*/
    color:white!important;
    fill:white!important;
}

.md-button.md-fab.md-fab-bottom-center {
    top: auto;
    /*right: 20px;*/
    bottom: 20px;
    left: auto;
    right:auto;
    position: fixed;
    background-color:#4a7a5a!important;
    /*line-height:3px;*/
    color:white!important;
    fill:white!important;
}

.maxWidth {
    width:100%;
}

.md-fab {
    fill:white;
}

button.md-fab.md-mini {
    line-height: 0px !important;
}

th {
    text-align: left;
}

.content {
    padding: 15px;
}

tr{
    line-height:24px;
}

svg{
    fill:#4a7a5a;
    vertical-align:middle;
    cursor:pointer;
}

.fixedTextArea{
    overflow-y: scroll!important;
    height: 125px!important;
    resize: none!important; 
}

.profileLeftPanel{
    margin-right:15px;
}

.menuIcon > svg {
    fill:white;
}

md-icon{
    cursor:pointer;
}
md-icon[md-svg-icon="content:remove"] > svg {
    fill:red!important;
}

md-subheader > div > span > md-icon[md-svg-icon="content:add"] {
    cursor:pointer;
}

button.addFab > ng-md-icon > svg{
    fill:white;
}

md-datepicker {
    position: relative;
    left: -16px;
}
    .md-datepicker-input-container{
      margin-left: 1px;
      width:100%;
    }
    .md-datepicker-button.md-icon-button {
      margin-right: 0;
    }
    .md-datepicker-input{
        width:100%;
        max-width: 1000px;
        margin-left: 2px;
    }


.addressContainer {
    margin-left:0px;
    margin-right:0px;
}

@media(max-width: 600px) {
    .profileLeftPanel{
    margin-right:0px!important;
    }
}

@media(max-width: 961px) {
    .showMobileOnly {
        display: normal;
    }
    .showDesktopOnly {
        display: none;
    }
}

@media(min-width: 962px) {
    .showDesktopOnly {
        display: normal;
    }
    .showMobileOnly {
        display: none;
    }
}
