// $background: lime;

// start using this sass file for all sass.  it will be merged with the css file by gulp

/*
body {
    background-color: $background!important;
}
    */

    .userToolbar div {
        width: 100%;
        padding: 8px;
    }

    .messageGroupMenuButton {
        padding: 0px!important;
        margin: 0px!important;
        min-height: 24px!important;
        height: 24px!important;
    }

    
    .preferred {
        font-weight:lighter;
        font-style: italic;
        color:gray;
    }