// $background: lime;

// start using this sass file for all sass.  it will be merged with the css file by gulp

/*
body {
    background-color: $background!important;
}
    */

    .userToolbar div {
        width: 100%;
        padding: 8px;
    }