
<md-sidenav class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4"
            >
    <md-toolbar> 
        <div layout="column" layout-padding layout-align="center center">
            <a href="/"><img src="../../Content/images/ntcclogo4-sml.png" /></a>
            <a href="/" style="text-decoration:none;color:white;">Stewardship</a>
        </div>
    </md-toolbar>
    <md-content class="scrollable-nav-content">
        <div layout="column" layout-align="start stretch" layout-padding>
            <md-button ng-class="selected" ng-click="rootCtrl.navigateTo('memberList', 'Members')">
                Members
            </md-button>
            <md-button ng-click="rootCtrl.navigateTo('teams', 'Teams')">
                Teams
            </md-button>
            <md-button ng-click="rootCtrl.navigateTo('churches', 'Churches')">
                Churches
            </md-button>
            <md-button ng-click="rootCtrl.navigateTo('perspectives', 'Perspectives')">
                Perspectives
            </md-button>
            <md-button ng-click="rootCtrl.navigateTo('messages', 'Messages')">
                Messages
            </md-button>
            <md-button ng-click="rootCtrl.navigateTo('admin', 'Admin')" 
                       ng-show="rootCtrl.roleId == 2">
                Admin
            </md-button>
        </div>
    </md-content>

</md-sidenav>