
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button" ng-click="rootCtrl.toggleSideNav()" aria-label="menu">
            <ng-md-icon class="menuIcon" icon="menu" style="fill: white" size="24"></ng-md-icon>
        </md-button>

        <div flex layout="row" layout-align="space-between center">
            <h1>
                {{rootCtrl.currentTitle}}
            </h1>

            <md-button class="md-fab md-raised md-mini"
                       aria-label="{{ rootCtrl.isLoggedIn ? 'Log out' : 'Log in' }}"
                       ng-click="rootCtrl.logIn()">
                <ng-md-icon icon="{{ rootCtrl.isLoggedIn ? 'logout' : 'login' }}"></ng-md-icon>
                <md-tooltip md-direction="left">{{ rootCtrl.isLoggedIn ? 'Log out' : 'Log in' }}</md-tooltip>
            </md-button>
        </div>
    </div>
</md-toolbar>