
<div layout="column" ng-init="ac.init()">

    <md-toolbar class="adminToolbar">
        <div class="md-toolbar-tools">
            <!--<span style="width:100px" ui-sref=".Page1"><a href="">Page-1</a></span>-->
            <md-button aria-label="Users" ui-sref=".users" >
                <ng-md-icon icon="people" ></ng-md-icon>
                <md-tooltip md-direction="bottom">Users</md-tooltip>
            </md-button>

            <md-button aria-label="Settings" ui-sref=".settings">
                <ng-md-icon icon="settings"></ng-md-icon>
                <md-tooltip md-direction="bottom">Settings</md-tooltip>
            </md-button>

            <!--settings icon for lists that can be managed
                md-colors="::{fill: 'default-accent-500-1'}"-->

            <!--<span flex></span>
            <md-button class="md-raised" aria-label="Learn More">
                Learn More
            </md-button>-->
        </div>
    </md-toolbar>

    <div data-ui-view=""></div>

</div>
