member activity

have a list of members

when they click on a member to edit, expand to show a card with options

maybe show a list of cards like the rental application



<md-progress-linear md-mode="indeterminate" style="margin-top:1px;" ng-if="mac.isLoading"></md-progress-linear>

<div class="content" ng-init="mac.load()">
    <div layout="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Search</label>
            <input ng-model="mac.searchText" placeholder="Enter member name"
                   filter-by="fullName"
                   filter-type="text"
                   ng-change="mac.gridActions.filter()" />
        </md-input-container>

        <md-input-container flex-gt-xs>
            <label>Team</label>
            <md-select ng-model="mac.selectedTeamId">
                <!--<md-option>Select Church</md-option>
                    ng-disabled="$index === 0"-->
                <md-option ng-repeat="c in mac.config.teamList | orderBy:'desc'" ng-value="c.id">{{c.desc}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div layout="row" ng-repeat="member in mac.memberList">
        <!--mac-{{member.id}}-->
        <form name="macform{{$index}}" style="width:100%">
            <md-card md-theme="default" style="width:100%">

                <md-card-content>
                    <div layout="column"
                         layout-gt-xs="row"
                         layout-align="start start"
                         flex>

                        <!-- left panel -->
                        <div layout="column"
                             flex flex-gt-xs="50"
                             class="maxWidth profileLeftPanel">

                            <!-- possible remove title text and put it here-->
                            <span class="md-headline">{{member.fullName }}</span>
                            <span class="md-subhead">{{member.address}}</span>



                            <!--<div>{{member.sponsor}}</div>
                            <div>{{member.sponsorTeam}}</div>-->
                            <div class="activityContent">
                                <div>Sponsor:  Phil Kinson</div>
                                <div>Sponsor Team:  Ambassadors for Christ</div>
                            </div>
                        </div>
                        <!-- right panel -->
                        <div layout="column" layout-align="start stretch"
                             flex flex-gt-sm="50" class="maxWidth">

                            <md-input-container flex>
                                <label>Status</label>
                                <md-select ng-model="member.statusId"
                                           placeholder="Select a status"
                                           name="status"
                                           ng-focus="mac.selectMember(member)">
                                    <md-option>Select a status</md-option>
                                    <md-option ng-repeat="item in mac.config.memberStatusList" ng-value="{{item.id}}">{{item.desc}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container flex>
                                <label>Reason</label>
                                <md-select ng-model="member.statusChangeTypeId"
                                           placeholder="Select a reason"
                                           name="reason"
                                           ng-focus="mac.selectMember(member)">
                                    <md-option>Select a reason</md-option>
                                    <md-option ng-repeat="item in mac.config.memberStatusChangeTypeList" ng-value="{{item.id}}">{{item.desc}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Date Came</label>
                                <md-datepicker ng-model="member.birthDate" md-placeholder="Enter date"
                                               name="dateCame"
                                               ng-focus="mac.selectMember(member)"></md-datepicker>
                            </md-input-container>
                        </div>
                    </div>
                </md-card-content>


                <md-card-actions layout="row" layout-align="end center" ng-show="macform{{$index}}.$dirty">
                    <md-button ng-click="mac.resetMember(member)">Cancel</md-button>
                    <md-button ng-click="mac.saveMember(member)">Save</md-button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</div>