
<md-progress-linear md-mode="indeterminate" style="margin-top:1px;" ng-if="mc.isLoading"></md-progress-linear>

<div ng-init="mc.loadMember()" class="content">

    <form name="memberForm">

        <div layout="column"
             layout-gt-xs="row"
             layout-align="start start"
             flex>

            <!-- left panel -->
            <div layout="column"
                 flex flex-gt-xs="50"
                 class="maxWidth profileLeftPanel">

                <!-- Name -->
                <!--<div layout="column" 
                     layout-gt-xs="row" 
                     class="maxWidth">-->
                
                    <md-input-container class="md-block" >
                        <label>First Name</label>
                        <input name="firstName" ng-model="mc.member.firstName" ng-maxlength="50" ng-minlength="2" required 
                               ng-blur="mc.patch('firstName', mc.member.firstName)"  />
                        <div ng-messages="memberForm.firstName.$error">
                            <div ng-message="required">First name is required</div>
                            <div ng-message="minlength">At least 2 characters required</div>
                            <div ng-message="maxlength">No more that 50 characters</div>
                        </div>
                    </md-input-container>
            
                    <md-input-container class="md-block" flex>
                        <label>Middle Name</label>
                        <input name="middleName" ng-model="mc.member.middleName" ng-maxlength="50" ng-minlength="1"
                               ng-blur="mc.patch('middleName', mc.member.middleName)" />
                        <div ng-messages="memberForm.middleName.$error">
                            <div ng-message="minlength">At least 1 characters required</div>
                            <div ng-message="maxlength">No more that 50 characters</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex>
                        <label>Last Name</label>
                        <input name="lastName" ng-model="mc.member.lastName" ng-maxlength="50" ng-minlength="2" required
                               ng-blur="mc.patch('lastName', mc.member.lastName)" />
                        <div ng-messages="memberForm.lastName.$error">
                            <div ng-message="required">Last name is required</div>
                            <div ng-message="minlength">At least 2 characters required</div>
                            <div ng-message="maxlength">No more that 50 characters</div>
                        </div>
                    </md-input-container>
                <!--</div>-->

                <!-- Gender -->
                <!--<md-input-container class="md-block maxWidth">
                    <md-radio-group ng-model="mc.member.gender" layout="row">
                        <md-radio-button value="M">Male</md-radio-button>
                        <md-radio-button value="F">Female</md-radio-button>
                    </md-radio-group>
                </md-input-container>-->
                <md-input-container flex class="maxWidth">
                    <label>Gender</label>

                    <!-- has to use "value" instead of ng-value in order to set to a string: F and M -->
                    <md-select ng-model="mc.member.gender"
                               ng-change="mc.patch('gender', mc.member.gender)">
                        <md-option value="M">Male</md-option>
                        <md-option value="F">Female</md-option>
                    </md-select>
                </md-input-container>
                
                <!-- Dates -->

                    <md-input-container class="md-block">
                        <label>Birthdate</label>
                        <!--<input type="date" placeholder="Enter date" />-->
                        <!--<md-date-picker type="date" placeholder="Enter date" ng-model="mc.member.birthDate" on-change="date = $date" current-month-view-dates-only="true" ></md-date-picker>-->
                        <md-datepicker ng-model="mc.member.birthDate" md-placeholder="Enter date"
                                       ng-change="mc.patch('birthDate', mc.member.birthDate)"></md-datepicker>   <!--| date:'M/dd/yyyy'-->
                    </md-input-container>
                <div layout="row" layout-align="space-around start"
                     class="maxWidth">
                    <md-switch class="md-primary" name="married" ng-model="mc.member.married"
                               ng-change="mc.patch('married', mc.member.married)">
                        Married
                    </md-switch>
                    <md-switch class="md-primary" name="veteran" ng-model="mc.member.veteran"
                               ng-change="mc.patch('veteran', mc.member.veteran)">
                        Veteran
                    </md-switch>
                </div>

                <md-input-container class="md-block">
                    <label>Comments</label>
                    <textarea class="fixedTextArea" ng-model="mc.member.comment" rows="5" md-select-on-focus
                              ng-blur="mc.patch('comment', mc.member.comment)" ></textarea>
                </md-input-container>

            </div>

            <!-- right panel -->
            <div layout="column" layout-align="start stretch" 
                 flex flex-gt-sm="50" class="maxWidth">

                <md-input-container flex>
                    <label>Church</label>
                    <md-select ng-model="mc.member.churchId"
                               ng-change="mc.patch('churchId', mc.member.churchId)">
                        <md-option ng-value="3">Graham</md-option>
                        <md-option ng-value="9">Dallas</md-option>
                        <md-option ng-value="7">Denver</md-option>
                        <md-option ng-value="8">San Diego</md-option>
                        <!--<md-option ng-repeat="state in ctrl.states" ng-value="state.abbrev" ng-disabled="$index === 1">
                            {{state.abbrev}}
                        </md-option>-->
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Type</label>
                    <md-select ng-model="mc.member.memberTypeEnumId"
                               ng-change="mc.patch('memberTypeEnumId', mc.member.memberTypeEnumId)">
                        <md-option ng-value="65">Helper</md-option>
                        <md-option ng-value="62">Member</md-option>
                        <md-option ng-value="64">Minister</md-option>
                        <md-option ng-value="63">Pastor</md-option>
                        <!--<md-option ng-repeat="state in ctrl.states" ng-value="state.abbrev" ng-disabled="$index === 1">
                {{state.abbrev}}
            </md-option>-->
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Status</label>
                    <md-select ng-model="mc.member.statusId"
                               ng-change="mc.patch('statusId', mc.member.statusId)">
                        <md-option ng-value="3">Active</md-option>
                        <md-option ng-value="9">Faithful</md-option>
                        <md-option ng-value="7">Inactive</md-option>
                        <md-option ng-value="8">Dropped</md-option>
                        <!--<md-option ng-repeat="state in ctrl.states" ng-value="state.abbrev" ng-disabled="$index === 1">
                {{state.abbrev}}
            </md-option>-->
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Reason</label>
                    <md-select ng-model="mc.member.statusChangeTypeId"
                               ng-change="mc.patch('statusChangeTypeId', mc.member.statusChangeTypeId)">
                        <md-option ng-value="23">Coming Regularly</md-option>
                        <md-option ng-value="24">Guest will not answer door/phone</md-option>
                        <md-option ng-value="25">Sponsor works on the job with them</md-option>
                        <md-option ng-value="26">Sponsor is giving them space</md-option>
                        <!--<md-option ng-repeat="state in ctrl.states" ng-value="state.abbrev" ng-disabled="$index === 1">
                {{state.abbrev}}
            </md-option>-->
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Sponsor</label>
                    <md-select ng-model="mc.member.sponsorId"
                               ng-change="mc.patch('sponsorId', mc.member.sponsorId)">
                        <md-option ng-value="4">Gary Lima</md-option>
                        <md-option ng-value="5">Wei Lima</md-option>
                        <md-option ng-value="22">Phillip</md-option>
                        <!--<md-option ng-repeat="state in ctrl.states" ng-value="state.abbrev" ng-disabled="$index === 1">
                {{state.abbrev}}
            </md-option>-->
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Saved</label>
                    <!--<md-date-picker type="date" placeholder="Enter date" ng-model="mc.member.dateSaved" on-change="date = $date"></md-date-picker>-->
                    <md-datepicker ng-model="mc.member.dateSaved" md-placeholder="Enter date"
                                   ng-change="mc.patch('dateSaved', mc.member.dateSaved)"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Spirit</label>
                    <md-datepicker ng-model="mc.member.dateBaptizedHolyGhost" md-placeholder="Enter date"
                                   ng-change="mc.patch('dateBaptizedHolyGhost', mc.member.dateBaptizedHolyGhost)"></md-datepicker>
                    <!--<md-date-picker type="date" placeholder="Enter date" ng-model="mc.member.dateBaptizedHolyGhost" on-change="date = $date"></md-date-picker>-->
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Baptized</label>
                    <md-datepicker ng-model="mc.member.dateBaptizedWater" md-placeholder="Enter date"
                                   ng-change="mc.patch('dateBaptizedWater', mc.member.dateBaptizedWater)"></md-datepicker>
                    <!--<md-date-picker type="date" placeholder="Enter date" ng-model="mc.member.dateBaptizedWater" on-change="date = $date"></md-date-picker>-->
                </md-input-container>
            </div>
        </div>


        <!--<md-divider></md-divider>-->

        <!--https://material.angularjs.org/latest/demo/list-->
        <md-card class="addressContainer">
            <md-list>
                <md-subheader class="md-no-sticky">
                    <div layout="row" layout-align="space-between center">
                        <span>
                            Address
                        </span>
                        <span>
                            <md-icon class="md-secondary" ng-click="openAddress($event)" aria-label="Add Address" md-svg-icon="content:add"></md-icon>
                        </span>
                    </div>
                </md-subheader>
                <!--ng-repeat="person in people"-->
                <md-list-item class="md-2-line"  ng-click="goToPerson(person.name, $event)">
                    <div class="md-list-item-text" layout="column">
                        <h4>8918 176th Street Ct E</h4>
                        <h4>Puyallup, WA 98375</h4>
                    </div>
                    <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
                    <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
                    <md-icon class="md-secondary" ng-click="openAddress($event)" aria-label="Map" md-svg-icon="maps:map"></md-icon>
                    <md-icon md-svg-icon="content:remove" ng-click="doSecondaryAction($event)" aria-label="Delete Address" class="md-secondary md-hue-3"></md-icon>
                </md-list-item>
            </md-list>
        </md-card>

        <md-card class="addressContainer">
            <!--Add phone Collection
            <md-input-container class="md-block" flex-gt-sm>
                <label>Phone Number</label>
                <input name="phone" ng-model="user.phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
                <div class="hint" ng-show="showHints">(###) ###-####</div>
                <div ng-messages="userForm.phone.$error" ng-hide="showHints">
                    <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
                </div>
            </md-input-container>-->

            <md-list>
                <md-subheader class="md-no-sticky">
                    <div layout="row" layout-align="space-between center">
                        <span>
                            Phone
                        </span>
                        <span>
                            <md-icon class="md-secondary" ng-click="openAddress($event)" aria-label="Add Address" md-svg-icon="content:add"></md-icon>
                        </span>
                    </div>
                </md-subheader>
                <!--ng-repeat="person in people"-->
                <md-list-item class="md-2-line" ng-click="goToPerson(person.name, $event)">
                    <!--ng-class="{'md-offset': phone.options.offset }"-->
                    <div class="md-list-item-text">
                        <h4> 253-381-4015 </h4>
                        <p> Cell </p>
                    </div>
                    <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
                    <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
                    <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Text" md-svg-icon="communication:textsms"></md-icon>
                    <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Call" md-svg-icon="communication:phone"></md-icon>
                    <md-icon md-svg-icon="content:remove" ng-click="doSecondaryAction($event)" aria-label="Delete Phone" class="md-secondary md-hue-3"></md-icon>
                </md-list-item>
            </md-list>
        </md-card>

        <md-card class="addressContainer">
            <!--Add email Collection
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input name="email" ng-model="user.email"
                       required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                <div class="hint" ng-show="showHints">How can we reach you?</div>

                <div ng-messages="userForm.email.$error" ng-hide="showHints">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>-->

            <md-list>
                <md-subheader class="md-no-sticky">
                    <div layout="row" layout-align="space-between center">
                        <span>
                            Email
                        </span>
                        <span>
                            <md-icon class="md-secondary" ng-click="openAddress($event)" aria-label="Add Address" md-svg-icon="content:add"></md-icon>
                        </span>
                    </div>
                </md-subheader>
                <!--ng-repeat="person in people"-->
                <md-list-item class="md-2-line"  ng-click="goToPerson(person.name, $event)">
                    <div class="md-list-item-text">
                        <h4>garymisc@outlook.com</h4>
                    </div>
                    <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
                    <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
                    <md-icon md-svg-icon="communication:email" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
                    <md-icon md-svg-icon="content:remove" ng-click="doSecondaryAction($event)" aria-label="Delete Email" class="md-secondary md-hue-3"></md-icon>
                </md-list-item>
            </md-list>
        </md-card>
    </form>

</div>



