
<div layout="row">
    <md-input-container class="md-block" flex-gt-xs>
        <label>Search</label>
        <input ng-model="memberCtrl.searchText" placeholder="Enter member name"
               filter-by="Name"
               filter-type="text"
               ng-change="memberCtrl.gridActions.filter()" />
    </md-input-container>
</div>

<!-- do not remove this grid!  this is the Angular-Material-Design grid that we are going to use
    https://github.com/angular-data-grid/angular-data-grid.github.io
    http://angular-data-grid.github.io/demo/material/#!?page=1&code=3747
    grid-actions="gridActions"
-->

<div id="memGrid"
     grid-data
     grid-options="memberCtrl.gridOptions"
     grid-actions="memberCtrl.gridActions">

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
            <tr>
                <th sortable="Name" class="sortable">
                    Name
                </th>
                <th sortable="Status" class="sortable">
                    Status
                </th>
                <th sortable="StatusDescription" class="sortable">
                    Description
                </th>
                <th sortable='LastAttendance' class="sortable">
                    Last Attendance
                </th>
                <th sortable='Phone' class="sortable">
                    Phone
                </th>
                <th class="showMobileOnly sortable" sortable='Phone'>
                    Text
                </th>
                <th sortable='Email' class="sortable">
                    Email
                </th>
                <th sortable='Map' class="sortable">
                    Map
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in filtered | startFrom:(memberCtrl.paginationOptions.currentPage-1)*memberCtrl.paginationOptions.itemsPerPage | limitTo:memberCtrl.paginationOptions.itemsPerPage track by $index">
                <td ng-bind="item.Name"></td>
                <td ng-bind="item.Status"></td>
                <td ng-bind="item.StatusDescription"></td>
                <td ng-bind="item.LastAttendance | date:'MM/dd/yyyy'"></td>
                <td>
                    <a class="showDesktopOnly" href="tel:{{item.Phone}}">{{item.Phone}}</a>
                    <a class="showMobileOnly" ng-if="item.Phone" href="tel:item.Phone">
                        <ng-md-icon icon="call"></ng-md-icon>
                    </a>
                </td>
                <td class="showMobileOnly">
                    <a  ng-if="item.Phone" href="sms:item.Phone">
                        <ng-md-icon icon="sms"></ng-md-icon>
                    </a>
                </td>
                <td>
                    <a class="showDesktopOnly" href="mailto:{{item.Email}}">{{item.Email}}</a>
                    <a class="showMobileOnly" ng-if="item.Email" href="mailto:{{item.Email}}">
                        <ng-md-icon icon="email"></ng-md-icon>
                    </a>
                </td>
                <td>
                    <a ng-if="item.Address" href="https://www.google.com/maps/place/{{item.Address.replace(' ', '+')}}" )>
                        <ng-md-icon icon="map"></ng-md-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<grid-pagination boundary-links="true"
                 class="pagination"
                 ng-disabled="memberCtrl.paginationOptions.totalItems <= memberCtrl.paginationOptions.itemsPerPage"
                 total-items="memberCtrl.paginationOptions.totalItems"
                 ng-model="memberCtrl.paginationOptions.currentPage"
                 ng-change="memberCtrl.loadData()"
                 items-per-page="memberCtrl.paginationOptions.itemsPerPage"
                 ng-init="memberCtrl.loadData()">
</grid-pagination>

<md-input-container flex-offset-gt-xs="5" class="items-per-page">
    <md-select ng-model="memberCtrl.paginationOptions.itemsPerPage"
               ng-change="memberCtrl.loadData()">
        <md-option ng-value="10">10</md-option>
        <md-option ng-value="25">25</md-option>
        <md-option ng-value="50">50</md-option>
        <md-option ng-value="75">75</md-option>
    </md-select>
</md-input-container>