
<md-progress-linear md-mode="indeterminate" style="margin-top:1px;" ng-if="mlc.isLoading"></md-progress-linear>

<div class="content">
    <div layout="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Search</label>
            <input ng-model="mlc.searchText" placeholder="Enter member name"
                   filter-by="fullName"
                   filter-type="text"
                   ng-change="mlc.gridActions.filter()" />
        </md-input-container>

        <md-input-container flex-gt-xs>
            <label>Church</label>
            <md-select ng-model="mlc.churchId">
                <!--<md-option>Select Church</md-option>
                    ng-disabled="$index === 0"-->
                <md-option ng-repeat="c in mlc.config.userChurches | orderBy:'desc'" ng-value="c.id">{{c.desc}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <!-- do not remove this grid!  this is the Angular-Material-Design grid that we are going to use
        https://github.com/angular-data-grid/angular-data-grid.github.io
        http://angular-data-grid.github.io/demo/material/#!?page=1&code=3747
        grid-actions="gridActions"
    -->

    <div id="memGrid"
         grid-data
         grid-options="mlc.gridOptions"
         grid-actions="mlc.gridActions"
         ng-init="mlc.loadData()">

        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
                <tr>
                    <th sortable="fullName">
                        Name
                    </th>
                    <th sortable="status" class="showDesktopOnly">
                        Status
                    </th> 
                    <th sortable="statusChangeType" class="showDesktopOnly">
                        Description
                    </th>
                    <th sortable='attendance' class="showDesktopOnly">
                        Last Attendance
                    </th>
                    <th sortable='phone'>
                        Phone
                    </th>
                    <th class="showMobileOnly" sortable='phone'>
                        Text
                    </th>
                    <th sortable='email'>
                        Email
                    </th>
                    <th>
                        Map
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in filtered | startFrom:(mlc.paginationOptions.currentPage-1)*mlc.paginationOptions.itemsPerPage | limitTo:mlc.paginationOptions.itemsPerPage track by $index">
                    <td><a href ng-click="mlc.openProfile(item.id)">{{item.fullName}}</a></td>
                    <td class="showDesktopOnly" ng-bind="item.status"></td>
                    <td class="showDesktopOnly" ng-bind="item.statusChangeType"></td>
                    <td class="showDesktopOnly" ng-bind="item.attendance | date:'MM/dd/yyyy'"></td>
                    <td>
                        <a class="showDesktopOnly" href="tel:{{item.phone}}">{{item.phone | phone}}</a>
                        <a class="showMobileOnly" ng-if="item.phone" href="tel:{{item.phone}}">
                            <ng-md-icon icon="call"></ng-md-icon>
                        </a>
                    </td>
                    <td class="showMobileOnly">
                        <a ng-if="item.phone" href="sms:{{item.phone}}">
                            <ng-md-icon icon="sms"></ng-md-icon>
                        </a>
                    </td>
                    <td>
                        <a class="showDesktopOnly" href="mailto:{{item.email}}">{{item.email}}</a>
                        <a class="showMobileOnly" ng-if="item.email" href="mailto:{{item.email}}">
                            <ng-md-icon icon="email"></ng-md-icon>
                        </a>
                    </td>
                    <td>
                        <a ng-if="item.address" href="https://www.google.com/maps/place/{{item.address.replace(' ', '+')}}" )>
                            <ng-md-icon icon="map"></ng-md-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <grid-pagination boundary-links="true"
                     class="pagination"
                     ng-if="mlc.paginationOptions.totalItems > mlc.paginationOptions.itemsPerPage"
                     total-items="mlc.paginationOptions.totalItems"
                     ng-model="mlc.paginationOptions.currentPage"
                     ng-change="mlc.loadData()"
                     items-per-page="mlc.paginationOptions.itemsPerPage">
    </grid-pagination>

    <md-input-container flex-offset-gt-xs="5" class="items-per-page">
        <md-select ng-model="mlc.paginationOptions.itemsPerPage"
                   ng-if="mlc.paginationOptions.totalItems > mlc.paginationOptions.itemsPerPage"
                   ng-change="mlc.loadData()">
            <md-option ng-value="10">10</md-option>
            <md-option ng-value="25">25</md-option>
            <md-option ng-value="50">50</md-option>
            <md-option ng-value="75">75</md-option>
        </md-select>
    </md-input-container>

</div>