
<div layout="row">
    <md-input-container class="md-block" flex-gt-xs>
        <label>Search</label>
        <input ng-model="mc.searchText" placeholder="Enter member name" 
               filter-by="Name" 
               filter-type="text"
               ng-change="mc.gridActions.filter()"/>
    </md-input-container>
</div>

<md-button ng-click="mc.loadData()">Load Data</md-button>

<!-- do not remove this grid!  this is the Angular-Material-Design grid that we are going to use
    https://github.com/angular-data-grid/angular-data-grid.github.io
    http://angular-data-grid.github.io/demo/material/#!?page=1&code=3747
    grid-actions="gridActions"
-->

<div id="memGrid" 
     grid-data  
     grid-options="mc.gridOptions" 
     grid-actions="mc.gridActions">

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
            <tr>
                <th sortable="Name" class="sortable">
                    Name
                </th>
                <th sortable="Status" class="sortable">
                    Status
                </th>
                <th sortable="StatusDescription" class="sortable">
                    Description
                </th>
                <th sortable='LastAttendance' class="sortable">
                    Last Attendance
                </th>
                <th sortable='Phone' class="sortable">
                    Phone
                </th>
                <th sortable='Email' class="sortable">
                    Email
                </th>
                <th sortable='Map' class="sortable">
                    Map
                </th>
            </tr>
        </thead>
        <tbody>
            <tr grid-item>
                <td ng-bind="item.Name"></td>
                <td ng-bind="item.Status"></td>
                <td ng-bind="item.StatusDescription"></td>
                <td ng-bind="item.LastAttendance | date:'MM/dd/yyyy'"></td>
                <td ng-bind="item.Phone"></td>
                <td ng-bind="item.Email"></td>
                <td><ng-md-icon icon="map"></ng-md-icon></td>
            </tr>
        </tbody>
    </table>
</div>

<!--Paging example:
file:///C:/Source/Examples/angular-data-grid.github.io-master/angular-data-grid.github.io-master/demo/material/index.html#!/?page=1-->

<grid-pagination max-size="5"
                 boundary-links="true"
                 class="pagination"
                 ng-if="mc.paginationOptions.totalItems  > mc.paginationOptions.itemsPerPage"
                 total-items="mc.paginationOptions.totalItems"
                 ng-model="mc.paginationOptions.currentPage"
                 ng-change="mc.loadData()"
                 items-per-page="mc.paginationOptions.itemsPerPage">
</grid-pagination>

<md-input-container flex-offset-gt-xs="5" class="items-per-page">
    <md-select ng-init="mc.paginationOptions.itemsPerPage = '10'" 
               ng-model="mc.paginationOptions.itemsPerPage" 
               ng-change="mc.loadData()">
        <md-option value="10">10</md-option>
        <md-option value="25">25</md-option>
        <md-option value="50">50</md-option>
        <md-option value="75">75</md-option>
    </md-select>
</md-input-container>