<!DOCTYPE html>
<html>
<head>
    <title>Stewardship</title>

    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="Content/angular-material.css" rel="stylesheet" />
    <link href="Content/angular-material.layout-attributes.css" rel="stylesheet" />
    <link href="Content/angular-material.layouts.css" rel="stylesheet" />
    <link href="Content/angular-data-grid.material.css" rel="stylesheet" />

    <!-- inject:css -->
    <!-- endinject -->
    <!--<script src="libs/polyfill.js"></script>
    <script src="libs/system.js"></script>-->
    <!--<script>
        // set our baseURL reference path
        System.config({
            packages: {
                js: {
                    format: 'register',
                    defaultExtension: 'js'
                },
            },
            meta: {
                // our modules have been transpiled to commonJS
                'js/*': { format: 'cjs' }
            }
        });

        System.import('js/more-codes.js')
            .then(null, console.error.bind(console));
    </script>-->

</head>
<body ng-app="app" ng-controller="rootController as rootCtrl" init="init()" style="height:100%;">

    <div layout="row" style="height:100%;">

        <div class="overlay" ng-if="rootCtrl.isLoggedIn === false">
            <!--<h1 style="color:red;">Please log in</h1>-->
        </div>

        <div ng-include="'views/app/sidenav.html'" layout="vertical" style="height:100%;"></div>

        <div layout="column" flex id="wrapper">

            <div ng-include="'views/app/toolbarHeader.html'"></div>

            <md-button class="md-fab md-fab-bottom-right addFab"
                       aria-label="Add" ng-click="rootCtrl.addItem($event)"
                       ng-hide="rootCtrl.isAddItemEventEnabled === false">
                <ng-md-icon icon="add" style="fill:white;"></ng-md-icon>
            </md-button>

            <md-content flex id="content" ng-if="rootCtrl.isLoggedIn === true">
                <div data-ui-view="" layout-fill></div>
            </md-content>
        </div>
    </div>

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/angular-material.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-messages.min.js"></script>
    <script src="Scripts/angular-local-storage.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
    <script src="Scripts/moment.min.js"></script>
    <script src="Scripts/moment-timezone-with-data.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>

    <!--https://github.com/angular-data-grid/angular-data-grid.github.io-->
    <script src="Scripts/dataGrid.min.js"></script>
    <script src="Scripts/pagination.min.js"></script>
    <script src="Scripts/ngMask.min.js"></script>

    <script src="Scripts/oidc-token-manager.min.js"></script>

    <!-- inject:js -->
    <!-- endinject -->


</body>
</html>
