
<div class="smsContent" ng-init="smc.init()" flex>
    <div layout="row" class="smsRow">
        <div layout="column" flex="40">
            <md-list>
                <!--<md-list-item ng-repeat="user in smc.correspondencesOrdered = (smc.correspondences | orderBy : '-LastMessageDate')" -->
                <md-list-item ng-repeat="user in smc.correspondencesOrdered" 
                              class="md-2-line"
                              ng-click="smc.viewMessages($index, user)"
                              ng-class="{'selected': $index==smc.selectedIndex}">

                    <div layout="row" layout-align="space-between start" style="width:100%;">
                        <div class="md-list-item-text correspondenceFrom" layout="column" layout-align="start start" flex>
                            <span class="correspondencePrimary">{{user.Name}}</span>
                            <span class="correspondenceSecondary">{{user.LastMessageText}}</span>
                        </div>

                        <div class="correspondenceDate correspondenceSecondary">
                            {{user.LastMessageDate}} 
                        </div>
                    </div>

                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>
        <div layout="column" flex>
            
                <!--<div layout="row" layout-align="center center">
                    <div>Gary Lima</div>
                </div>-->
            <md-toolbar class="userToolbar" layout="column" layout-align="center center" 
                        md-colors="::{background: 'default-accent-500-1', color: 'default-primary-500-1'}">
                <div>
                    <span>{{smc.selectedItem.Name}}</span>
                </div>
            </md-toolbar>

            <div layout="column" layout-align="end start" layout-padding flex>
                <div  style="align-self:flex-start;" ng-repeat="msg in smc.selectedItem.messages | orderBy: 'messageDate'" layout-padding
                     class="{{ msg.directionEnumId == 53 ? 'smsSent' : 'smsReceivevd'}}">
                    <div>
                        {{msg.content}}
                    </div>
                    <div class="smsDate">
                        {{msg.messageDate}}
                     </div>
                </div>
            </div>
            <div layout="row" layout-align="space-between center" layout-padding class="smsSendContainer"> 
                <!--<ng-md-icon icon="sms"></ng-md-icon>-->
                <md-input-container flex>
                    <input ng-model="user.title">
                </md-input-container>
                <ng-md-icon icon="send"></ng-md-icon>
            </div>
        </div>
    </div>
</div>
