<div layout="row" layout-padding>
    <md-input-container class="md-block" flex-gt-xs>
        <label>Search</label>
        <input ng-model="searchText" placeholder="Enter perspective name" />
    </md-input-container>
</div>


This is the Perspectives page, where reports will be listed.  Reports provide different perspectives of your members and your church!
<br /><br />
Examples of perspectives that you may find:
<ul>
    <li>Visitor letters</li>
    <li>Pastor's Weekly Visitation List</li>
    <li>Lay Pastor's Visitation List</li>
    <li>Minister's Faithful Checklist</li>
    <li>Lay Pastor's Faithful Checklist</li>
    <li>Soulwinning Attendance List</li>
    <li>Pastoral Follow Up</li>
</ul>

<md-button ng-click="pc.openActiveGuestList($event)">Active Guest List</md-button>

<div>type: {{pc.type}}</div>