
churchId


<md-progress-linear md-mode="indeterminate" style="margin-top:1px;" ng-if="cc.isLoading"></md-progress-linear>

<div ng-init="cc.load()" class="content">

    <form name="churchForm">

        <div layout="column"
             layout-gt-xs="row"
             layout-align="start start"
             flex>

            <!-- left panel -->
            <div layout="column"
                 flex flex-gt-xs="50"
                 class="maxWidth profileLeftPanel">

                <md-input-container class="md-block" flex>
                    <label>Church Name</label>
                    <input name="name" ng-model="cc.church.name" ng-maxlength="100" ng-minlength="2" required md-autofocus 
                           ng-change="cc.patch('name', cc.church.name)"/>
                    <div ng-messages="churchForm.name.$error">
                        <div ng-message="required">Name is required</div>
                        <div ng-message="minlength">At least 2 characters required</div>
                        <div ng-message="maxlength">No more that 100 characters</div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label>Status</label>
                    <md-select ng-model="cc.church.statusId"
                               ng-change="cc.patch('statusId', cc.church.statusId)"
                               placeholder="Select a status">
                        <md-option>Select a status</md-option>
                        <md-option ng-repeat="item in mc.statusList" ng-value="{{item.id}}">{{item.desc}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Time Zone</label>
                    <md-select ng-model="cc.church.timeZoneOffset"
                               ng-change="cc.patch('timeZoneOffset', mc.church.timeZoneOffset)">
                        <md-option>Select a time zone</md-option>
                        <md-option ng-repeat="item in dc.config.timeZones | orderBy:'name'" ng-value="{{item.offset}}">{{item.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <!-- right panel -->
            <div layout="column" layout-align="start stretch"
                 flex flex-gt-sm="50" class="maxWidth">
                <md-input-container class="md-block">
                    <label>Comments</label>
                    <textarea class="fixedTextArea" ng-model="cc.church.comments" rows="6" md-select-on-focus
                              ng-blur="cc.patch('comments', cc.church.comments)"></textarea>
                </md-input-container>
            </div>
        </div>

        <!-- Pastor Teams -->
        <md-subheader>Pastoral Team</md-subheader>
        <div>
            <div layout="row" ng-repeat="member in cc.church.teamMembers">
                <md-input-container flex>
                    <!-- member dropdown list for selecting a team member -->
                    <md-select ng-model="cc.church.teamMemberId"
                               ng-change="cc.patch('teamMemberId', cc.church.teamMemberId)"
                               placeholder="Select a member">
                        <md-option>Select a member</md-option>
                        <md-option ng-repeat="item in mc.churchList" ng-value="{{item.id}}">{{item.desc}}</md-option>
                    </md-select>
                </md-input-container>

                <!-- member dropdown list for selecting a team member -->
                <!-- $Watch this and patch it when it changes -->
                <md-input-container flex>
                    <md-select ng-model="mc.member.memberTypeEnumId"
                               ng-change="mc.patch('memberTypeEnumId', cc.church.teamMemberPositionId)"
                               placeholder="Select a position">
                        <md-option>Select a type</md-option>
                        <md-option ng-repeat="item in mc.memberTypeList" ng-value="{{item.id}}">{{item.desc}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>

        <!-- Communication -->
        <md-subheader>Communication</md-subheader>
        <md-tabs>
            <md-tab id="emailTab">
                <md-tab-label>Email Configuration</md-tab-label>
                <md-tab-body>
                    <div layout="row" layout-align="start center">
                        <md-input-container flex>
                            <label>Provider</label>
                            <md-select ng-model="cc.church.emailConfigProfileId"
                                       ng-change="cc.patch('emailConfigProfileId', mc.church.emailConfigProfileId)">
                                <md-option>Select a provider</md-option>
                                <md-option ng-repeat="item in dc.config.emailConfigs | orderBy:'name'" ng-value="{{item.offset}}">{{item.name}}</md-option>
                            </md-select>
                        </md-input-container>

                        <div>{{cc.providerServer}}</div>

                        <div>{{cc.providerPort}}</div>
                    </div>

                    <md-input-container class="md-block" flex>
                        <label>Email Address</label>
                        <input name="email" ng-model="cc.church.email" ng-maxlength="100" ng-minlength="2" required md-autofocus
                               ng-change="cc.patch('email', cc.church.email)" />
                        <div ng-messages="churchForm.email.$error">
                            <div ng-message="required">Name is required</div>
                            <div ng-message="minlength">At least 2 characters required</div>
                            <div ng-message="maxlength">No more that 100 characters</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex>
                        <label>Password</label>
                        <input type="password" name="password" ng-model="cc.church.emailPassword" ng-maxlength="100" ng-minlength="2" required md-autofocus
                               ng-change="cc.patch('emailPassword', cc.church.emailPassword)" />
                        <div ng-messages="churchForm.password.$error">
                            <div ng-message="required">Name is required</div>
                            <div ng-message="minlength">At least 2 characters required</div>
                            <div ng-message="maxlength">No more that 100 characters</div>
                        </div>
                    </md-input-container>

                </md-tab-body>
            </md-tab>
            <md-tab id="smsTab">
                <md-tab-label>Text Configuration</md-tab-label>
                <md-tab-body>

                        <md-input-container class="md-block" flex>
                            <label>Account SID</label>
                            <input type="text" name="smsAccountSID" ng-model="cc.church.smsAccountSID" ng-maxlength="100" ng-minlength="2" required 
                                   ng-change="cc.patch('smsAccountSID', cc.church.smsAccountSID)" />
                            <div ng-messages="churchForm.smsAccountSID.$error">
                                <div ng-message="required">Name is required</div>
                                <div ng-message="minlength">At least 2 characters required</div>
                                <div ng-message="maxlength">No more that 100 characters</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex>
                            <label>Account Token</label>
                            <input type="text" name="smsAccountToken" ng-model="cc.church.smsAccountToken" ng-maxlength="100" ng-minlength="2" required 
                                   ng-change="cc.patch('smsAccountToken', cc.church.smsAccountToken)" />
                            <div ng-messages="churchForm.smsAccountToken.$error">
                                <div ng-message="required">Name is required</div>
                                <div ng-message="minlength">At least 2 characters required</div>
                                <div ng-message="maxlength">No more that 100 characters</div>
                            </div>
                        </md-input-container>

                    <div class="md-accent" style="height:30px;">
                        To send text messages to your members, sign up for an account at <a href="https://www.twilio.com/">Twilio</a> and enter the Account SID and Token here.
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>



        <md-card class="addressContainer">
            <md-list>
                <md-subheader class="md-no-sticky">
                    <div layout="row" layout-align="space-between center">
                        <span>
                            Address
                        </span>
                        <span>
                            <md-icon class="md-secondary" ng-click="cc.addAddress('address', $event)" aria-label="Add Address" md-svg-icon="content:add"></md-icon>
                        </span>
                    </div>
                </md-subheader>
                <md-list-item class="md-2-line"
                              ng-repeat="addy in mc.church.addressList"
                              ng-click="mc.editAddress('address', addy, $event)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{addy.line1}}</h3>
                        <h3 ng-if="addy.line2">{{addy.line2}}</h3>
                        <h3>{{addy.city}}, {{addy.state}}  {{addy.zip}}</h3>
                        <h4 ng-if="addy.verified == true">Verified</h4>
                        <h4 ng-if="addy.preferred == true">Preferred</h4>
                    </div>
                    <md-icon class="md-secondary" ng-click="cc.openMap(addy, $event)" aria-label="Map" md-svg-icon="maps:map"></md-icon>
                    <md-icon md-svg-icon="content:remove" ng-click="cc.removeAddress('address', addy, $event)" aria-label="Delete Address" class="md-secondary md-hue-3"></md-icon>
                </md-list-item>
            </md-list>
        </md-card>

        <md-card class="addressContainer">
            <md-list>
                <md-subheader class="md-no-sticky">
                    <div layout="row" layout-align="space-between center">
                        <span>
                            Phone
                        </span>
                        <span>
                            <md-icon class="md-secondary" ng-click="cc.addAddress('phone', $event)" aria-label="Add Address" md-svg-icon="content:add"></md-icon>
                        </span>
                    </div>
                </md-subheader>
                <md-list-item class="md-2-line"
                              ng-repeat="addy in cc.church.phoneList"
                              ng-click="cc.editAddress('phone', addy, $event)">
                    <!--ng-class="{'md-offset': phone.options.offset }"-->
                    <div class="md-list-item-text">
                        <h3> {{ addy.phoneNumber | phone}} </h3>
                        <!--<p> Cell </p>-->
                        <h4 ng-if="addy.verified == true">Verified</h4>
                        <h4 ng-if="addy.preferred == true">Preferred</h4>
                    </div>
                    <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
                    <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
                    <md-icon class="md-secondary" ng-click="cc.openSms(addy, $event)" aria-label="Text" md-svg-icon="communication:textsms"></md-icon>
                    <md-icon class="md-secondary" ng-click="cc.openPhone(addy, $event)" aria-label="Call" md-svg-icon="communication:phone"></md-icon>
                    <md-icon md-svg-icon="content:remove" ng-click="cc.removeAddress('phone', addy, $event)" aria-label="Delete Phone" class="md-secondary md-hue-3"></md-icon>
                </md-list-item>
            </md-list>
        </md-card>

        <md-card class="addressContainer">
            <md-list>
                <md-subheader class="md-no-sticky">
                    <div layout="row" layout-align="space-between center">
                        <span>
                            Email
                        </span>
                        <span>
                            <md-icon class="md-secondary" ng-click="cc.addAddress('email', $event)" aria-label="Add Address" md-svg-icon="content:add"></md-icon>
                        </span>
                    </div>
                </md-subheader>
                <md-list-item class="md-2-line"
                              ng-repeat="addy in cc.church.emailList"
                              ng-click="mc.editAddress('email', addy, $event)">
                    <div class="md-list-item-text">
                        <h3>{{addy.emailAddress}}</h3>
                        <h4 ng-if="addy.verified == true">Verified</h4>
                        <h4 ng-if="addy.preferred == true">Preferred</h4>
                    </div>
                    <md-icon md-svg-icon="communication:email" ng-click="cc.openEmail(addy, $event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
                    <md-icon md-svg-icon="content:remove" ng-click="cc.removeAddress('email', addy, $event)" aria-label="Delete Email" class="md-secondary md-hue-3"></md-icon>
                </md-list-item>
            </md-list>
        </md-card>
    </form>

</div>



